[2020-11-17 18:52] davidzentlermunro opened #402 "Compression of strings in grouped bars"
I'm using the groupedbar function, but noticed it removes spaces in category names (see below). Any workarounds?

    ctg = repeat(["Category 1", "Category 2"], inner = 5)
    nam = repeat("Group No" .* string.(1:5), outer = 2)

    groupedbar(nam, rand(5, 2), group = ctg, xlabel = "Groups", ylabel = "Scores",
             title = "Scores by group and category", bar_width = 0.67,
            lw =

[2020-11-19 10:29] HenriDeh opened #404 "legend marker blank when no outliers"
MWE
[code]
The former makes a boxplot but since there are no outliers the legend marker will be blank. In the latter I disable outliers and in that case I obtain 2 series, one :line (only in the legend), and one boxplot whose color is correctly drawn in the legend.

I tried to see how to fix that in the code but I don't understand the Plots macros. Sorry.

[2020-11-21 00:17] PythonNut commented on #391
I am coming from `seaborn` and I also am accustomed to using these sorts of plots (via [PairGrid](https://seaborn.pydata.org/generated/seaborn.PairGrid.html#seaborn.PairGrid)).

[2020-11-27 20:40] tomjcamp opened #405 "Issue with andrewsplot function"
Using the code example :

[code]
results in the following error:

`ERROR: Expects 200 elements in each col of y, found 50.`

What might be causing this?

[2020-12-03 14:41] nilshg commented on #155
I think I might have run into this, a simple example without macro:

[code]
gives

![image](https://user-images.githubusercontent.com/7264491/101042662-5648f600-3575-11eb-88a8-55ede120603c.png)

but

[code]
gives
![image](https://user-images.githubusercontent.com/7264491/101042807-7b3d6900-3575-11eb-82d1-e9f85cf17829.png)

So the legend disappears, and the bar widths become super thin (I actually

[2020-12-04 14:29] scheidan commented on #391
That's very neat, thanks!
With the existing corner plot I'm also irritated by the line and the coloring.

Maybe single corner recipe with more options instead of multiple alternative recipes is the better the way to go.

A [2d-histogram](http://docs.juliaplots.org/latest/generated/gr/#gr-ref10) could be an alternative for the density, but that's only a personal preference.

[2020-12-05 02:38] PythonNut commented on #391
One of the nice things about `seaborn`'s PairGrid is that you can customize the upper triangle, diagonal, and lower triangle plots to be whatever you like.

[2020-12-07 11:04] HenriDeh commented on #404
Solve in PR #406

[2020-12-07 11:04] #404 closed

[2020-12-07 13:54] Volker-Weissmann opened #407 "Example in the documentation is broken"
In [the documentation](https://docs.juliaplots.org/latest/layouts/), there is the following example that (at least on my machine) throws an `UndefVarError: contourf not defined`.

[code]

[2020-12-10 07:00] alailink opened #408 "Dendrogram, add colors to groups"
This issue repeats the the Julia discourse page, to better track it on here.
https://discourse.julialang.org/t/statsplots-dendrogram-how-to-have-clustered-coloring/50768

The idea is that it would be really great to have "group" functionality inside the dendrogram function, where sections of the dendrogram are different colors. This can be seen in R packages. I'm not clear on how to implement it,

[2020-12-10 15:56] kescobo commented on #408
Always takes me a while to find it, because we went in some circles to get this recipe in, but the dendrogram was put into StatsPlots in #152

The `Hclust` "merge" object is what holds the relevant information for the positioning. It took me a while to understand this (you can see [this epic PR thread](https://github.com/JuliaStats/Clustering.jl/pull/170#issuecomment-503264068) for more info). The

[2020-12-10 19:05] nwilleyltk opened #409 "Expose sorting options for boxplots (and other plots?)"
By default the boxplot orders a categorical axis alphabetically.  Often times, there is a semantic ordering that makes more sense.  Allowing the user to specify the order for the x-axis would be a meaningful enhancement.

[2020-12-14 03:45] alailink commented on #408
This is a really incredible description of how *merges* in general works. I thought I understood it, but this makes it much clearer what is being stored.

I would like to tackle this! I also have limited time (like us all) so it might take me weeks/months to get something workable, if you can keep track of it that long. I've never collaborated on something at this scale, though. So a few questions

[2020-12-14 14:51] kescobo commented on #408
Great! I'm happy to help however I can.

Typically, the first thing you do is "fork". This is a GitHub term rather than a git one, but it essentially means you clone the repo to your own account. This way you can push stuff with abandon without getting write permissions to the main one.
You should then "clone" the repo from your account to your local machine. There are now 3 repositories that conc

[2020-12-15 12:36] luboshanus opened #410 "PDF boxplot contour"
Hi,
I can see a double contour when exporting box-plots into .pdf.

Here I attach the file how I see it when displayed before saving and after saving into PDF. This I would like to have in PDF. I understand it has thin lines in pdf as vectors, but why it is doubled. Top part of the picture is what I see and would like to have. Middle is from pdf and it has same linewidth. Third, bottom is with `li

[2021-01-13 15:46] icweaver commented on #286
I just asked about this on Zulip and was directed to a very nice implementation [here](https://juliaearth.github.io/GeoStats.jl/stable/plotting.html#cornerplot)!

[2021-01-13 16:17] poglesbyg commented on #284
Any update on this issue?

[2021-01-18 20:04] abcsds opened #414 "Method error for simple distribution plot."
Plotting a single distribution like `plot(Normal(0,1))` does not work out of the box. More precisely:
[code]

This is a clean instalation of Julia 1.5.3, with IJulia, StatsPlots, and Distributions packages installed. I ran the last example on a notebook and the following message can be seen:

[code]

A fix to this error is defining a range to plot against, but according to the documentation plotti

[2021-01-24 10:41] devmotion opened #416 "New release?"
I noticed that the master branch is already compatible with Reexport 1 but it seems it is not released yet. Is it possible to make a new release?

[2021-02-02 14:30] bdeonovic opened #418 "spacing in groupedbar with multiple groups"
Why is there spacing between the bars in groupedbar when I have multiple groups (split out by layout). See MWE:

[code]

![image](https://user-images.githubusercontent.com/805168/106614350-da493b00-6530-11eb-99af-4dbf05bf473e.png)

[2021-02-05 18:02] #416 closed

[2021-02-18 13:48] PToTheK opened #426 "New Feature: Scaling violin plots"
I would like to propose an additional keyword argument for violin plots (see "/src/violin.jl").
One could name it `scalingfactor::Float64`, wich would be by default 1.0.

This scaling factor would appear in an additional line after line 47 in 'violin.jl' as

        # normalize
        hw = 0.5_cycle(bw, i)
        widths = hw * widths / Plots.ignorenan_maximum(widths)

        # hey there I am th

[2021-02-23 13:24] AlexanderVanUffelen commented on #251
There is an attribute 'orientation'.
For example a barplot can be made horizontal
`bar(["One","Two","Three"], [1,2,3], orientation=:h)`
![bar](https://user-images.githubusercontent.com/49979885/108849376-5e4b8b80-75e2-11eb-9e4e-b9fd9385cca8.png)
But when trying to do the same with a boxplot, it doesn't plot the boxplot:
`boxplot(["One"], [1,2,3], orientation=:h)`
![boxplot](https://user-images.git

[2021-02-24 16:43] ulysses4ever commented on #316
Just bumped into this. I think in addition to README this should be in the docs, e.g. here: http://docs.juliaplots.org/latest/input_data/#DataFrames-support

[2021-02-26 15:53] ShuhuaGao opened #428 "How to adjust the X-axis order of boxplot with StatsPlots.jl"
[code]
The result is

![image](https://user-images.githubusercontent.com/20141984/109322823-b6f28100-788d-11eb-82e1-5cb04b95757d.png)

I want the box to be 3, 17, 21 from left to right.

PS: I have also tried `CategoricalArray` for the `id` column by setting levels to `[3, 17, 21]`, but nothing changed.

[2021-02-26 16:02] mkborregaard commented on #428
I've answered on discourse - let's have the discussion there: https://discourse.julialang.org/t/how-to-adjust-the-x-axis-order-of-boxplot-with-statsplots-jl/56065/2?u=mkborregaard

[2021-02-26 16:02] #428 closed

[2021-03-13 01:49] fredcallaway opened #429 "Feature request: facets"
It would be really nice if StatsPlots could support faceting (i.e. making subplots by grouping by a variable in a table). I think it would make sense to use the seaborn syntax, e.g.
[code]

to create four subplots laid out in a grid with subplot titles like "Sx = Girls, Sector = Catholic".

Easy construction of facets is in my opinion one of the two biggest things missing from the julia plotting e

[2021-03-13 12:36] mkborregaard commented on #429
We already have
[code]
![records](https://user-images.githubusercontent.com/8429802/111030093-cbdc2200-8400-11eb-81ed-b9889663820c.jpg)
Can you see a good way of improving on this?

A little more powerful, and probably soon going to be plotting-package-independent, is here: http://juliaplots.org/AlgebraOfGraphics.jl/stable/generated/tutorial/#Layout

[2021-03-14 05:32] fredcallaway commented on #429
Ah excellent! This is already most of the way there. As the obi-wan meme that you edited out (but I was fortunate enough to see in the email notification) suggested, I think this might be an un(der)-documented feature.

Since you asked, I see two ways this could be improved:

1. Make an option to label the groups with subplot titles rather than a legend—currently, the legend becomes difficult to r

[2021-03-20 00:26] dpgarrick commented on #175
I gather no updates on this?

An option which makes the plot command respect the dataframe order for `x` would be really nice, as that would simply allow `!sort` (or any other method) to arrange the dataframe in the desired order for plotting instead of the alphabetical `x` sort that occurs now.

[2021-03-24 21:58] ghost opened #433 "marginalkde throwing "MethodError: no method matching getindex""
With version `StatsPlots v0.14.19`
[code]
Trying to generate marginal density plots. Both `marginalkde` and `marginalhist` gives same error
[code]

give error
[code]

[2021-04-01 20:40] naccib opened #435 "MethodError: no method matching zero(::Type{Vector{Float64}}) on corrplot"
Using Pluto.jl, and trying to corrplot a two DataFrame columns.

[code]

Both `:AGE` and `:SEX` columns are Float64, no missing values. Using latest stable release of `StatsPlots.jl`, `Plots.jl` and Julia.

[2021-04-04 04:59] bicepjai commented on #198
Do we have a solution yet on ordering the x axis ticks for violin like categorical plots ?
[code]
I get
[code]

[2021-04-07 13:14] JontySinai commented on #67
Stumbled upon this issue today. @piever thanks for pointing out the reason. However thinking about the API here, the difference between passing (1,n) array vs (n,) array of colors is not just confusing but doesn't play well with what you'd expect, especially when working with a color scheme. For example setting

`groupedbar(data, color = palette(:auto)[1:3]`

won't work since `palette(:auto)[1:3]`

[2021-04-12 14:27] dmetivie opened #437 "How to unsort groupedbar categories"
I am using groupedbar and I consider a case with a lot of group (namely more than ten), here is the github example with 12 groups:
`a = 12
ctg = repeat(["Category 1", "Category 2"], inner = a)
nam = repeat("G" .* string.(1:a), outer = 2)

groupedbar(nam, rand(a, 2), group = ctg, xlabel = "Groups", ylabel = "Scores",
        title = "Scores by group and category", bar_width = 0.67,
        lw = 0,

[2021-04-12 20:06] eddieschoute opened #438 "@df macro MethodError Symbol not callable"
I'm encountering a strange error when using `@df` that I don't understand but I made a MWE.

[code]
This gives me the exception
[code]
Now, I've tried to remove any of the above options to plot, but it will no longer give an error. Even removing the seemingly unrelated `title` or `size` will fix the issue. What is happening here?

[2021-04-15 08:37] eahenle commented on #437
I just encountered this, too.  Don't see any such option in the docs or the source.  Also don't see where in the code things are being sorted.  Would really like to have the ability to disable the alphanumeric sorting of groups.

[2021-04-18 10:59] GregorySech commented on #435
I'm getting this too, did you manage to find a solution?

[2021-04-18 21:40] naccib commented on #435
Hello Gregory. I have not.

[2021-04-20 12:27] tiagoseq opened #439 "Grouped barplot do not work with `plotly()` backend"
Hello,
In Pluto notebook (this happens in VSCode too) I'm using Plots with the `plotly()` backend and I was trying to run the following example from the documentation:
`using Plots, StatsPlots`
`plotly()`
`groupedbar(rand(10,3), bar_position = :dodge, bar_width=0.7)`
and got the error:
![issue](https://user-images.githubusercontent.com/73851660/115394784-10ff2b00-a1db-11eb-944b-d3594b7858c0.png)

[2021-04-26 17:52] feanor12 opened #441 "Bandwidth does not work in density plots"
The first and the second plot show the same output.

Julia Version 1.6.0
StatsPlots v0.14.19

[code]

[2021-04-27 09:09] itsdfish opened #442 "Cannot assign colors to individual bars"
The ability to assign colors to different bars appears to be broken. I believe a breaking change occurred `Plots` somewhere between the current version and v1.10.6. The following works with row vectors:

[code]

However, this does not work with dataframes because it uses columns:

[code]
which produces the following warning:

[code]
The advice in the warning does not appear to be applicable in thi

[2021-04-27 11:49] BeastyBlacksmith commented on #441
thats not released yet, can you try on master?

[2021-04-27 12:26] itsdfish opened #443 "Incorrect color assignment for grouped variables."
In the center plot where a=2, the sloped line should be black and the flat line should be red, as when a=1 and a=3. This might be related to this [issue](https://github.com/JuliaPlots/StatsPlots.jl/issues/442). Please fix this as soon as possible, as it is producing incorrect/misleading results.

[code]

Version
[code]
![temp](https://user-images.githubusercontent.com/9677184/116240743-2b348e00-a7

[2021-04-27 14:22] feanor12 commented on #441
I did not realize that this was a recent feature. On master is seems fine. 👍

[2021-04-27 14:22] #441 closed

[2021-04-27 14:24] feanor12 opened #444 "Add kernel argument to density function"
The density function does not have a kernel argument that can be passed to violin_coords

[2021-05-03 10:51] Omastto1 opened #446 "pgfplotsx() backend: Incorrect legend plotted with boxplot()"
Hi,
The PGFPlotsX `boxplot()` outputs four times more labels in the legend than it should.

MWE:
[code]
![example](https://user-images.githubusercontent.com/67954215/116867588-c2f01b80-ac0d-11eb-92d6-f08909bccb2f.png)

When switching the backend to `gr(),` it correctly outputs only one label.

[2021-05-19 06:27] #446 closed

[2021-05-31 08:17] acidghost commented on #348
@mkborregaard I'm running in the same issue, with the same setup described above: I have some code divided in sub-modules, one of which defines some utilities that call `@df [..] boxplot(...)` and store the output to files. The end user can then call it from the REPL with something like `Foo.Bar.makeplots(...)`.

What would be the correct way of implementing this? Am I supposed to create a `@recip

[2021-06-08 11:39] ForceBru opened #448 "Unable to plot `UnivariateGMM`"
Code:

[code]

Error message:

[code]

[2021-06-09 17:32] #224 closed

[2021-06-11 07:23] Paethon commented on #194
Any progress on this?

[2021-06-15 11:23] cristobaltapia opened #449 "Allow to specify quantile values for the whiskers of boxplots"
Hi, I am a rather new user of StatsPlots.jl and Julia. Thanks a lot for this package! I was doing some boxplots where I would like to mark the whiskers at the 5% and 95% quantile values. However, I could not find a way to do so. Reading through the implementation it looks like it is only possible to define the `range` value. Would it be possible to allow to overload `range` so that it also accepts

[2021-06-15 12:44] BeastyBlacksmith commented on #449
Is https://github.com/JuliaPlots/StatsPlots.jl/pull/440 implementing what you are looking for_

[2021-06-15 13:25] cristobaltapia commented on #449
@BeastyBlacksmith yes! That is exactly what I was looking for. Hopefully it will get merged soon.

[2021-06-16 11:43] cristobaltapia commented on #449
I just tested this PR but it is not quite what I was looking for. What #440 implements is to modify the range of the box and add additional lines within the box, but what I would like to have is the possibility to define a custom value (or percentile) for the _whiskers_, i.e. the lines extending beyond the box.

[2021-06-16 12:20] HenriDeh commented on #449
I closed because I got no reaction to the PR and I'm not using StatPlots anymore. I can reopen if you like.

[2021-06-16 21:21] cristobaltapia commented on #449
I actually implemented a solution myself in the meantime. I like #401, however I think that it would be better to allow to specify the upper and lower quantiles for the whiskers independently (as done in [matplotlib](https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.boxplot.html)). However, to be honest, I have never used _non-symmetric_ quantiles for this, so I don't know if this is rea

[2021-06-18 08:56] sethaxen opened #450 "Plotting discrete distributions with non-integer support"
StatsPlots currently incorrectly assumes all discrete distributions have their support on the integers. This causes distributions with e.g. support on the floating point numbers to error when you plot them. A MWE:

[code]

This came up in https://github.com/devmotion/InferenceDiagnostics.jl/pull/7. @devmotion [noted](https://github.com/devmotion/InferenceDiagnostics.jl/pull/7#issuecomment-86103883

[2021-06-18 09:03] devmotion commented on #450
The main annoyance here is probably that one can't use `support(dist)` since it errors for unbounded distributions: https://github.com/JuliaStats/Distributions.jl/issues/1254

However, one could at least use `support(dist)` for bounded distributions. I also opened an issue in InfiniteArrays if it would be possible to make it more lightweight (it pulls in quite many dependencies), which would allow

[2021-06-18 09:22] sethaxen commented on #450
Another challenge is that `support(dist)` dos not necessary produce values that will evaluate to have non-zero probability. e.g.

[code]

[2021-06-18 09:27] devmotion commented on #450
That's a numerical issue, for discrete distributions it is safer to scale with rationals I assume.

[2021-06-18 09:31] sethaxen commented on #450
Unfortunately `//` only works for integer arguments, so `(d - mean(d)) // std(d)` and `(d - mean(d)) * (1 // std(d))` don't work due to `std(d)` being a float.

[2021-06-18 09:32] devmotion commented on #450
Yes, you have to base the transformation on rationals (as done in InferenceDiagnostics) and not `std` or `mean`.

[2021-06-18 09:49] sethaxen commented on #450
Yet we have no control how the user chooses to construct their distribution. Anyways, this particular case seems like something to handle at the Distributions level. Here I think we can safely use `support` here, and if that errors fall back to the old way of doing things (though without the `Int` call).

Though looks like `support(::Dirac)` returns a single-entry `Tuple`, while other discrete dis

[2021-06-18 09:52] devmotion commented on #450
There is no guarantee regarding the return type. For continuous distributions often it is a RealInterval, for discrete distributions often a range, sometimes a vector, and a tuple for Dirac. `minimum` and `maximum` are defined for all of the returned type and the discrete ones are iterable.

[2021-06-23 08:36] #287 closed

[2021-06-23 08:36] #450 closed

[2021-06-24 11:28] leejm516 commented on #437
In addition, sorting categories causes inconsistencies between value and error bar.

[code]

groupedbar(nam, y_mean, group = ctg, yerr=y_std, fmt=:png)

![test](https://user-images.githubusercontent.com/27197763/123255102-697bdd00-d52a-11eb-93bc-5478f49a499f.png)

We can see that the error bars for BDO went to ethanol, and vice versa.

[2021-06-24 21:24] sethaxen opened #452 "Add ecdf difference plot with confidence band"
Sometimes one has an ECDF or random sample and wants to compare it to the CDF of some known distribution. One could plot the ECDF of the sample and the CDF of the distribution and compare them, but they will always deviate, and it's difficult to tell if the difference is meaningful.

There are two ways to handle this: plotting the ECDF difference, and/or plotting a confidence band.

If `x` is exac

[2021-06-28 09:35] sethaxen commented on #452
Related issue for bayesplot: https://github.com/stan-dev/bayesplot/issues/267

[2021-07-05 16:54] BeastyBlacksmith opened #455 "StatsPlots is looking for a new maintainer"
Since the current active maintainers of Plots.jl have little expertise in the specifics of statistical plotting, but do think StatsPlots is a fine package that should continue to grow, we would be happy to find a dedicated maintainer for StatsPlots.jl
This doesn't mean you are alone: we'll help where we can.

There are a bunch of good looking PRs open and I am going to ping the authors of those to

[2021-07-05 17:26] sethaxen commented on #455
I'm happy to help out with maintaining StatsPlots. Are there any good issues to read for the philosophy of the scope of StatsPlots, or has it been somewhat organic?

[2021-07-05 17:57] BeastyBlacksmith commented on #455
Great, I'll send you an invite.
StatsPlots was created since it allows for creating recipes with heavier dependencies, without increasing the load time for everyone. Since then it grew pretty organically by the people who use it.

[2021-07-06 17:04] BioTurboNick commented on #455
I appreciate it but don't think I can take it on. Not nearly versed enough in the internals of Plots.

[2021-07-07 07:42] mkborregaard commented on #455
Really awesome @sethaxen
It has been very organic - it started as a way to avoid DataFrames as a dep back when that was huge, and now the purpose is essentially completely ortoghonal. The last formulation of a philosophy I think was when @piever and I agreed that it should provide plotting for all the packages that are imported by `using StatsKit`, to make it a companion package to that ecosystem.

[2021-07-07 21:10] sethaxen commented on #414
I was not able to reproduce this with Julia 1.6.1 and the latest versions of Distributions and StatsPlots. @abcsds do you still encounter this issue?

[2021-07-07 21:15] sethaxen commented on #433
On Julia 1.6.1 and StatsPlots v0.14.24, I am unable to reproduce this error. @TradeInJulia are you still seeing this error?

[2021-07-07 21:17] sethaxen commented on #407
On Julia v1.6.1 and StatsPlots v0.14.24, I was unable to reproduce this. @Volker-Weissmann can you confirm if you still see this error?

[2021-07-07 21:26] sethaxen commented on #405
I was unable to reproduce this on
[code]

@tomjcamp can you verify whether you still see this error?

[2021-07-07 22:26] abcsds commented on #414
Hi @sethaxen I updated to 1.6.1 and the `plot` call with a distribution is working as it should.
Thanks!

[2021-07-07 22:26] #414 closed

[2021-07-07 22:58] Volker-Weissmann commented on #407
I can no longer reproduce this.

[2021-07-07 22:58] #407 closed

[2021-07-07 23:30] sethaxen commented on #443
This appears to be a Plots issue, not a StatsPlots one. We see the same issue if we plot the values directly instead of using the `@df` macro, which uses only Plots:
[code]
![tmp](https://user-images.githubusercontent.com/8673634/124840801-12472500-df8c-11eb-8a11-542a742d97c2.png)

[2021-07-07 23:34] sethaxen commented on #448
The issue here is that `quantile` is not defined for `UnivariateGMM`. We should probably use similar special-casing for `UnivariateGMM` that we use for `MixtureModel`.

[2021-07-07 23:46] sethaxen commented on #439
I just checked, and using Pluto v0.15.1 I had no problems getting this to work in Pluto. @tiagoseq do you still get this error?

[2021-07-07 23:53] sethaxen commented on #438
I wasn't able to reproduce this. @eddieschoute if you update StatsPlots, do you still get this error?

[2021-07-07 23:57] sethaxen commented on #435
The vector of variable names should not be comma-separated. Note the example in the `corrplot` docstring:
[code]
Can you verify that `@df filtered_df corrplot([:AGE :SEX])` works?

[2021-07-08 00:05] sethaxen commented on #400
This is a Plots issue, not a StatsPlots one. e.g.
[code]
![tmp](https://user-images.githubusercontent.com/8673634/124842917-f98d3e00-df90-11eb-89d5-08de5798d841.png)

[2021-07-08 00:35] sethaxen commented on #409
Probably as simple as providing a `sort` keyword argument (we could provide `by`, similar to `sort`, but this way a user could pass `identity` to avoid sorting entirely).

[2021-07-08 00:41] sethaxen commented on #391
Both [ArviZPlots.jl](https://arviz-devs.github.io/ArviZPlots.jl/dev/examples/#Pair-Plot) and [CornerPlot.jl](https://github.com/kilianbreathnach/CornerPlot.jl/blob/master/notebook_demo/example%20corner%20plots.ipynb) do something similar to this. It probably would be good to offer this alternative layout using keyword arguments.

[2021-07-08 06:29] GregorySech commented on #435
I've just tried and it works as you said @sethaxen. I missed the commas when re-writing the example.

Do you know if there is a reason why a Matrix{Symbol} is used as a parameter instead of a Vector{Symbol}?

[2021-07-08 21:50] sethaxen commented on #245
The user recipe for a `d::Distribution` converts it to `x` a set of x-values and `y` to a set of density values at `x`. But the `density` recipe discards `x` and interprets `y` as a random sample, so `density(Normal())` is plotting the distribution of PDF values of `Normal()`.

This is easy to fix by checking in the user recipe for `Distribution` if `seriestype` is set to `:density`, and if it is,

[2021-07-08 21:53] sethaxen commented on #297
Is this still a plan everyone likes?
Also, I wonder if `@df` is misleading since now it supports anything that implements the Tables interface, and perhaps `@df` should be deprecated in favor of `@table`?

[2021-07-08 21:57] mkborregaard commented on #297
I'm still in favour. I like the `df` though, as it's nice to type (which is essentially the whole idea of the macro), and `@table` feels like we're stealing a word that shouldn't belong here.

[2021-07-09 16:39] #448 closed

[2021-07-09 16:41] sethaxen commented on #455
@BeastyBlacksmith it looks like I don't have sufficient privileges to register new releases (https://github.com/JuliaPlots/StatsPlots.jl/commit/b99a4ff6c760f0e1275bb54572c94da03a7bc81f#commitcomment-53278763). Can you upgrade them?

[2021-07-09 17:11] BeastyBlacksmith commented on #455
I can make public members private, but not private members public, you should be able to do that yourself though, no?

[2021-07-09 17:19] sethaxen commented on #455
Ah, sure enough, I was able to do it myself. Sorry about that.

[2021-07-12 10:50] ValentinKaisermayer opened #457 "[BUG] Normalization not working for `groupedhist`"
If `group`s are used the bins are no longer normalized:
[code]
![bug](https://user-images.githubusercontent.com/50108075/125275683-9fcda080-e30f-11eb-9694-06512924cd4b.png)

[2021-07-12 11:11] ValentinKaisermayer commented on #457
https://github.com/JuliaPlots/StatsPlots.jl/blob/b99a4ff6c760f0e1275bb54572c94da03a7bc81f/src/hist.jl#L100
shouldn't it be:
[code]
Which would yield:
![bug](https://user-images.githubusercontent.com/50108075/125278043-824e0600-e312-11eb-920f-6f5c479eadd9.png)

[2021-07-13 20:30] eddieschoute commented on #438
I just tried on a fresh computer and also could not reproduce. I'll try it on the old device as well but hopefully it resolved itself.

[2021-07-13 22:12] ForceBru opened #458 "Shouldn't the PDFs of `UnivariateGMM` (and possibly other mixtures) be "squashed" according to their weights?"
TL;DR: currently PDFs of the components seem to be plotted without considering their weights (that [the code](https://github.com/JuliaStats/Distributions.jl/blob/8c7f400bd8b9ffe3773f2ee52501ee75b0fba3cd/src/mixtures/unigmm.jl#L7) calls "prior"). Maybe it would be better to plot them weighted, or maybe plot the PDF of the _mixture_ (instead of plotting PDFs of its components) with an option to add

[2021-07-13 22:44] sethaxen commented on #458
Personally, I don't like the default to plotting the individual components of the mixture model either for exactly the reasons you've given. But I think we would need to look into why those decisions were made before changing the default.

[2021-07-18 20:16] sethaxen commented on #458
The recipe for `MixtureModel` was added in #246. Then or since, it seems there has been no discussion about the `components` default argument. I agree the default should be `components=false`. @mkborregaard or @BeastyBlacksmith if we do fix this, would that be considered a breaking change?

[2021-07-19 08:42] BeastyBlacksmith commented on #458
There is room for interpretation here, but I'd say that changing defaults is a breaking change. But since StatsPlots is pre 1.0 making these changes is fine. I'd think about other breaking changes you might want to do and do them in one batch though.

[2021-07-24 11:23] storopoli commented on #455
@sethaxen I can help you to maintain it also. If you want to tag me to issues or to review PRs, count me  in.

[2021-07-25 09:52] DilumAluthge commented on #225
FYI - I have merged https://github.com/JuliaRegistries/General/pull/39292, so I think that this can be closed now?

[2021-07-25 19:19] #225 closed

[2021-07-25 19:20] sethaxen commented on #455
Thanks @storopoli!

[2021-07-29 16:40] tai opened #460 "Grouped ecdfplot(..., group=) plot emits different result from multiple ecdfplot(...)s for each group"
I noticed StatsPlots.ecdfplot() emits unexpected plot when I use a group= parameter.

When I use 2 ecdfplot() calls to compare 2 groups, I get this:
[code]
![image](https://user-images.githubusercontent.com/67324/127530245-44b2fe43-215a-46b6-9a85-5af64a9fd4cc.png)

These CDF plots are correct as group "A" has 1:50 and "B" has 51:100.

However, once I switch to a single ecdfplot(..., group=) call w

[2021-07-29 17:33] sethaxen commented on #460
Yes this occurs because of how `ecdfplot` is currently implemented as a user plot. When #453 is finished, it should fix this.

[2021-07-29 19:27] HiramTheHero opened #461 "qqnorm not showing the highest datapoint"
Hey everyone. I was messing around with qqnorm and noticed that it was neglecting to plot the highest point in the dataset I sent it. The dataset I'm using is located [here](https://drive.google.com/file/d/1-8QnBjR32U_EkLEhRPDRH2AIJZfE7pXe/view?usp=sharing).

1. I loaded in the data.
`
data = CSV.File(filePath) |> DataFrame
`
2. Filtered the data into two datasets by gender.
`
HHSgirls = subset(da

[2021-07-29 19:46] HiramTheHero commented on #461
Just a note about the above. Forget the titles on the graphs. I forgot to eliminate them.

However, interesting enough, if I try the same process with the qqplot function, the 2nd to highest point is neglected in the plot.

`
sort(HHSgirlsClean[!,:Reaction_time])
`

Output in Julia REPL
`
  0.0489
  0.139
  0.142
  0.148
  0.23
  0.25
  0.261
  0.27
  ⋮
  3.0
  3.0
  4.2
  5.0
  7.129
 10.0
 30.0

[2021-08-01 08:13] ElectricCoffee commented on #442
I too am having this issue

[2021-08-02 10:09] dav2017 commented on #442
The problem is still there, and also for Dictionaries. Once this used to work:
`data= Dict("Item 1" => 30,
           "Item 2" => 35,
           "Item 3" => 25)`
`bar(data, legend=false, c=[:red3, :salmon, :skyblue]`
Now a workaround is:
`bar([[i] for i in keys(data)], [[i] for i in values(data)], legend=false, c=[:red3 :salmon :skyblue])`
Not so convenient, and gaps between bars become greater th

[2021-08-02 15:19] sethaxen commented on #461
Thanks for the issue. A minimal working example that shows this behavior is `qqnorm([1,2,3])`:
![tmp](https://user-images.githubusercontent.com/8673634/127882580-613f7b64-8098-4986-83b1-d6d5ae7640e3.png)

However, note that this example is equivalent to calling
[code]

Note that `qqpair` just wraps the `x` and `y` values of the desired points, which we plot. So I would advise opening an issue on D

[2021-08-03 19:31] bdeonovic commented on #426
I think you can use bar_widths plot attribute for this purpose. That is what `bw` is set to. If it is `nothing` (default) the violin plot uses 0.8.

[2021-08-09 13:32] yha commented on #442
I will look at it later this week.

[2021-08-19 10:45] SiFTW commented on #251
This is still an issue and affects horizontal stacked bar plots too.

[2021-08-21 11:00] hdavid16 opened #462 "Improve docstrings (e.g., density)"
The `density` function docstring is not very helpful. I recently found out there are some keyword arguments that you can pass, like `bandwidth`. However, the docstring only shows:

[code]

I don't see any documentation elsewhere to point out other keyword arguments that are relevant in density plots.

[2021-08-21 11:13] hdavid16 commented on #462
Another example with insufficient documentation:

[code]

[2021-09-07 01:02] ulysses4ever opened #464 "PDF is blurry for some viewers"
I'm using the example from the documentation modulo blocking interactive plotting (GKSwstype stuff) and saving the result in PDF specifically:

[code]

In many viewers I have access to it looks as expected, e.g. in Evince:
![2021-09-06_20-09-1630975318](https://user-images.githubusercontent.com/6832600/132268488-0ccbd09c-90f6-45a6-a227-5d9bae078c1e.png)

But in some viewers  it's very blurry, e.g.

[2021-09-09 14:47] sethaxen commented on #457
Thanks for the issue! First, this is definitely a bug, but the fix depends on what `normed` should mean here. The fix you have proposed would cause the area of each bin to correspond to `p(bin=i | group=j)` (`*inv(nbins)` when `bar_position=:dodge`), but suppose if group 1 has 100 points total, 50 of which are in bin A, while group 2 has only 1 point, which also falls in group A.
[code]
![normed_f

[2021-09-09 19:03] ValentinKaisermayer commented on #457
Matplotlib seems to do this a bit differently. They have a different normalization, if the bins are stacked or not.
https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.hist.html
In both cases the area under the curve evaluates to one.

[2021-09-16 11:41] itsdfish opened #466 "Determine how variables are grouped in subplots"
As described in this discourse [question](https://discourse.julialang.org/t/plotting-by-multiple-factors/68237), when working with tabular data, it is common to plot a dependent variable according to groups and organize subplots so that each subplot has a fixed value of one of the factors. Currently, it does not appear to be possible to specify how to group factors in the subplots. The code below

[2021-09-24 11:41] ValentinKaisermayer commented on #457
@sethaxen Is this what you had in mind?

[code]
![hist](https://user-images.githubusercontent.com/50108075/134668501-014a3f94-f1da-445d-b3e7-acdf910f7b99.png)

[code]
![hist](https://user-images.githubusercontent.com/50108075/134668596-11be913f-9ef6-4ce8-bbe1-ae9efb2cbb21.png)

[2021-09-24 11:54] ValentinKaisermayer commented on #457
[code]
![hist](https://user-images.githubusercontent.com/50108075/134669097-aded3544-7803-4685-b083-f9650ce89550.png)

[code]
![hist](https://user-images.githubusercontent.com/50108075/134670112-e8176eef-ed5d-4fbd-b3bd-6e55f171fc66.png)

[2021-09-28 20:31] sethaxen commented on #457
@ValentinKaisermayer Yes, this looks perfect! I do think that for `bar_position=:dodge`, the bar heights should be multiplied by the number of groups to ensure that the areas are the same as for `bar_position=:stack`, but this would be a functional change and should be handled in a different PR.

[2021-09-29 06:57] ValentinKaisermayer commented on #457
I think this would then be the same behavior as in [matplotlib](https://github.com/matplotlib/matplotlib/blob/4b0694561b8497ac1a102ae300923445394d8c3c/lib/matplotlib/axes/_axes.py#L6592).

[2021-09-29 15:29] #457 closed

[2021-10-03 13:41] knuesel opened #467 "Bad plot for LogNormal with small σ"
The "automatic" plot for a LogNormal distribution with small σ looks pretty bad:

[code]

![image](https://user-images.githubusercontent.com/2412819/135756114-04c2d8fa-2453-455f-bf28-e02ec269282a.png)

[2021-10-14 22:59] sethaxen commented on #467
StatsPlots uses a heuristic to determine the bounds over which a distribution should be plotted:
https://github.com/JuliaPlots/StatsPlots.jl/blob/b99a4ff6c760f0e1275bb54572c94da03a7bc81f/src/distributions.jl#L3-L7

For bounded variables, the bound is included. This heuristic works most of the time, but it breaks down in cases like this, where the distributions is concentrated far away from the bou

[2021-10-15 04:40] mkborregaard commented on #467
The issue here doesn't seem to be with the bounds though, but rather an issue with the `adapted_grid` inference of internal points to realise the function over? I'm puzzled by the second plot above. Manually passing limits should solve these issues also in terms of animations etc.

[2021-10-15 07:17] knuesel commented on #467
I guess it's both: the bound is also an issue, because the current heuristic always takes 0 for the left bound and that will never give a good looking plot for e.g. `LogNormal(6, 0.001)` (which has mean ~400 and standard deviation ~0.4).

[2021-10-19 19:21] #442 closed

[2021-11-03 10:06] kertase opened #469 "Cornerplot cuts of labels"
Hi,
I tried to use corner plot, but it cuts of the labels. Here is my code
[code]

[2021-11-03 11:16] sethaxen commented on #469
I believe this is a Plots.jl issue that sometimes happens with the GR backend, not specific to `corrplot`. Can you confirm by trying a different backend or a different plot?

[2021-11-03 12:31] kertase commented on #469
I have tried it out now with another plot it seems to be the same case, but it can fixed by adding a margin. Adding a margin does work here.

I guess the issue lies with Plots.jl

[2021-12-03 11:52] arthur-fyon opened #470 "Warning when using boxplot(x)"
Since I installed Julia 1.7.0, I get the following warning while simply calling boxplot as before using the GR backend

`┌ Warning: Keyword argument hover not supported with Plots.GRBackend().  Choose from: Set([:top_margin, :group, :inset_subplots, :background_color, :ytickfontsize, :yforeground_color_text, :yguidefontcolor, :tickfontfamily, :show_empty_bins, :seriesalpha, :seriescolor, :ztick_di

[2021-12-03 15:51] sethaxen commented on #470
I just checked, and in a fresh environment, this happens on v1.6.4 as well. I don't think this is a problem. Only plotly supports the hover attribute, and it's been used here for a long time. I'm guessing Plots recently changed its warning policy, which is why you're seeing the warning now.

[2021-12-06 11:42] JinraeKim opened #471 "Support missing variables when plotting boxplot"
This post is from [a post of JuliaDiscourse](https://discourse.julialang.org/t/boxplot-statsplots-jl-how-to-plot-boxplot-with-different-number-of-data-for-each-label/72649).

I found that `boxplot` does not support missing values.

For example,

[code]
results in the following error:
[code]

To avoid this issue, one may be able to repeat `boxplot!` as
[code]

Why don't you provide this functionali

[2021-12-07 15:50] diegozea opened #472 "number of bins is not working on dataviewer"
Hi! As you will see in the following two screen captures, the slider to select the number of bins is not working:

1. (min)

![image](https://user-images.githubusercontent.com/2822757/145060951-d9f13c9f-2ff3-462e-9b02-2a6d5f83e8dd.png)

2. (max)

![image](https://user-images.githubusercontent.com/2822757/145060993-b60476ca-79c2-4c12-ac09-65019542d210.png)

I have run the example code in the README

[2021-12-07 15:55] diegozea commented on #472
In fact, it looks like this is not working:

[code]
As I can see the bins slider even for scatter plots:

![image](https://user-images.githubusercontent.com/2822757/145062285-c295bc30-9915-45c6-9eea-5ab515a583ca.png)

[2021-12-10 13:12] diegozea opened #474 "MethodError (pdf is ambiguous) when using wand bins (histogram)"
The following is an example of the error:

![Screenshot from 2021-12-10 13-42-20](https://user-images.githubusercontent.com/2822757/145577818-ce23b5c1-f614-480a-9837-2933fa3a2960.png)

You can reproduce it using:

[code]

The error is:

[code]

The version info is:

[code]

[2021-12-10 13:12] diegozea opened #479 "MethodError (pdf is ambiguous) when using wand bins (histogram)"
The following is an example of the error:

![Screenshot from 2021-12-10 13-42-20](https://user-images.githubusercontent.com/2822757/145577818-ce23b5c1-f614-480a-9837-2933fa3a2960.png)

You can reproduce it using:

[code]

The error is:

[code]

The version info is:

[code]

[2022-01-13 06:29] alfaromartino opened #521 "Annotation in bars"
I wasn't sure if I should post this here or StatsPlots, but this issue is the same as in  JuliaPlots/Plots.jl#3574.
If you add numbers to each bar in groupedbar, it always repeats the numbers of the first group. The error was reproduced in pgfplotsx, pyplot, gr, and plotly as backends.

MWE:
[code]
which gives as result
![blah](https://user-images.githubusercontent.com/50346244/149276949-98410122-

[2022-01-19 15:57] diegozea opened #476 "The density of marginalscatter is not working properly"
Hi! The top density plot of the marginalscatter is incomplete as we can see in the following figure:

![image](https://user-images.githubusercontent.com/2822757/150166649-e9181320-7ef0-404c-8fd7-13112ccba1aa.png)

It works fine in marginalhist.

I'm using Pluto and
[code]

Code:

[code]

[2022-01-19 19:25] diegozea commented on #390
I am seeing the same problem with `StatsPlots 0.14.30`; the `fillcolor=cgrad()` is doing the trick. However, the doc tells that `seriescolor` is controlling the colors of the bi-dimensional histograms.

[2022-01-23 21:33] smartinsightsfromdata opened #477 "histogram error"
I am using Julia 1.7.1 on Ubuntu 20.04.  I use jupyterlab.

I get an error every time I use histogram, as in:

[code]
This is the error message:

[code]

The surprinsing thing is that `StatsPlots.ea_histogram(myrandomvector)` works!

[2022-01-24 07:08] sethaxen commented on #477
`histogram` is defined in Plots.jl, while `ea_histogram` is defined here, so this doesn't appear to be a StatsPlots issue. Also, I was unable to replicate.

[2022-01-24 07:10] sethaxen commented on #474
`histogram` is defined in Plots.jl, not StatsPlots.jl.

[2022-01-24 07:15] sethaxen commented on #471
I don't know if any plotting functions in Plots or StatsPlots support `missing`. Ideally we would, but it takes a lot more special-casing to do it correctly. On the other hand, it's pretty easy for users to drop missing values of they know they have them.

I wonder though if this is something we want to consider doing.

[2022-01-24 08:07] mkborregaard commented on #471
Yes, Plots supports missing values out-of-the-box, but by converting them to `NaN`s. Given that boxplots don't support NaNs we get this issue. It would make sense to `filter(isfinite, data)` here after the grouping in boxplot (and violin) IMHO.

[2022-01-26 12:36] mkborregaard commented on #479
sorry @sethaxen it actually does belong here, as this is where `wand` bins are defined.
I'll fix.

[2022-01-26 12:43] sethaxen commented on #479
Whoops, sorry for jumping the gun, I'll look into it.

[2022-01-26 12:46] mkborregaard commented on #479
I'm already on it :-)
I wrote the code, and it looks like plain bitrot, so I'll also add a test.

[2022-01-30 10:15] #479 closed

[2022-01-31 01:41] aerdely opened #482 "Weird messages from StatsPlots.jl in Pluto.jl"
Please check this [issue](https://github.com/fonsp/Pluto.jl/issues/1870)

[2022-01-31 02:30] sethaxen commented on #482
I addressed one of the warnings in https://github.com/fonsp/Pluto.jl/issues/1870#issuecomment-1025322869. The other is a duplicate of https://github.com/JuliaPlots/StatsPlots.jl/issues/470

[2022-01-31 02:32] sethaxen commented on #470
@mkborregaard @BeastyBlacksmith is there something we can do here so that this warning isn't thrown for every backend but Plotly? In the REPL it's harmless, but in notebooks (e.g. see at 1:00 in the video in https://github.com/fonsp/Pluto.jl/issues/1870#issue-1118326408), it looks pretty bad.

[2022-02-01 09:54] sethaxen commented on #458
Revisiting this, I think the current behavior of plotting all components separately with their own styles makes sense if one has a mixture of discrete and continuous distributions (currently not allowed by Distributions but will be in the future, and [censored distributions](https://juliastats.org/Distributions.jl/stable/censored/) are examples of this). So e.g. one could plot a `Censored(Normal()

[2022-02-02 12:37] BeastyBlacksmith commented on #470
I think the easiest would be to only add the hover entries in the recipe if the backend is plotly or plotlyjs.

[2022-02-04 12:35] t-bltg opened #484 "Bump version ?"
Can we please bump a minor or patch version ?
`StatsPlots` is preventing some updates, and this gets in the way for fixing https://github.com/JuliaPlots/Plots.jl/issues/4091.

[2022-02-04 13:19] sethaxen commented on #484
Bumped the version and registered: https://github.com/JuliaRegistries/General/pull/53870

[2022-02-04 13:19] #484 closed

[2022-02-04 13:22] t-bltg commented on #484
Thanks !

[2022-02-04 13:54] sethaxen commented on #470
How can we access the backend within a recipe, and how can we access the supported attributes?

[2022-02-04 13:58] sethaxen opened #485 "Add SSH key for CompatHelper"
Currently CI isn't run on PRs opened by CompatHelper, since `CompatHelper.yml` doesn't have an SSH key specified. We should add one. See https://juliaregistries.github.io/CompatHelper.jl/dev/#Creating-SSH-Key

Someone with admin rights would need to do this.

[2022-02-04 21:23] BeastyBlacksmith commented on #470
[code]

[2022-02-05 12:29] #470 closed

[2022-02-08 14:26] wizofe opened #488 "Cannot precompile (Method Error)"
When I am trying to use/precompile the package I am getting errors. I am on Mac OS Big Sur (11.6.4) using the default zsh and Julia 1.7.2.

Here's the first:
[code]

When trying to use the package I get the following error:

[code]

[2022-02-08 14:52] sethaxen commented on #488
As noted by the error, this is not a valid method for `Pkg.precompile`.

[code]

I was not able to replicate this in a clean environment on Julia 1.7.2. Have you tried this in a clean environment? If it still errors, can you share your `versioninfo()` and `using Pkg; Pkg.status()` outputs?

[2022-02-08 14:54] wizofe commented on #488
[code]

[code]

[2022-02-08 15:37] BeastyBlacksmith commented on #488
Thats a fairly old version of Plots you got there

[2022-02-10 09:41] ga72kud opened #489 "Feature request MvNormal for covellipse"
It would be nice if the second line would also work
[code]

[2022-02-10 10:00] sethaxen commented on #489
I agree, this would be nice.

In general I think this code can be improved.
e.g. We can support trivariate normals by plotting an ellipsoid.
We can also support n-variate normals by allowing the user to specify which slice of the covariance matrix should be plotted.
A `corellipse` function would be useful as well.
And we could even go so far as to support something like `corrplot` that plots ellip

[2022-02-10 11:19] ga72kud commented on #489
Thank you! That sounds great!

[2022-02-14 09:59] sethaxen commented on #489
@ga72kud I'm re-opening so we can track this feature.

[2022-02-17 15:37] cingulate7 opened #490 "Grouping by multiple variables by @df produces errant output"
The 'group = (:key1, :key2)' expression in @df does not produce expected output. The following code produces a legend with 4 categories, but eight plot objects instead of four:

    using DataFrames, StatsPlots

    dfa = DataFrame(a = [0, 1, 0, 1, 0, 1, 0, 1],
                   b = [1, 1, 1, 1, 2, 2, 2, 2],
                   dat = randn(8))

    @df dfa boxplot( :dat, group = (:a, :b) )

![](ht

[2022-02-17 16:03] sethaxen commented on #490
The first argument to `boxplot` should be the labels of the individual boxplots that should be plotted. Without that, it uses `eachindex`, and you're plotting one boxplot per data point.

Is this what you want?
[code]
![image](https://user-images.githubusercontent.com/8673634/154520877-00be7531-3db4-4a3f-b798-5fa5338b7c2a.png)

[2022-02-17 16:29] cingulate7 commented on #490
thank you!!!! This has been driving me crazy all week.

[2022-02-17 16:36] #490 closed

[2022-03-02 16:53] sethaxen commented on #482
These should have been fixed by #486 and https://github.com/JuliaPlots/Plots.jl/pull/4123. @aerdely can you verify that they are?

[2022-03-02 21:56] aerdely commented on #482
Everything works fine! No more weird messages. Thank you!

[2022-03-02 21:56] #482 closed

[2022-03-03 12:28] BeastyBlacksmith commented on #485
I've added the key

[2022-03-03 12:28] #485 closed

[2022-03-21 12:07] KronosTheLate commented on #217
In looking into scattermatrix-plots, I came across this. Friendly bump to say that I would like this feature ^_^

[2022-03-31 16:06] DiegoRomeres opened #494 "xticks in groupedboxplot() doesn't work"

[2022-03-31 17:58] #494 closed

[2022-04-15 10:23] rkube opened #495 "Error plotting MCMCChains"
Hi,
I'm trying to plot an MCMCChain, calling plot(chain), in vscode and receive the error message below. Plotting in general works fine.
The same `GKS` error also occurs in the repl outside vscode but there is no stacktrace.

[code]

GKS: Rectangle definition is invalid in routine SET_VIEWPORT
GKS: Rectangle definition is invalid in routine SET_VIEWPORT
[...] Repeats a lot ...
GKS: Rectangle defin

[2022-04-15 10:28] rkube commented on #495
Oh, I had an error in the model. Using `β ~ LogNormal(0.0, 1.0);` the error disappears.

[2022-04-15 10:28] #495 closed

[2022-04-25 15:00] SirLukeSchande opened #497 "Stacked groupedbar hides xtick labes for Dates"
`groupedbar` with dates as x-labels does not show xticks when `bar_position=:stack` is selected.

This is the case both in gr and pgfplotsx. I haven't tested the others yet.

[2022-05-03 11:54] newptcai commented on #245
I have a student asking me about it today. I have to say I was quite confused.

[2022-05-05 13:15] #129 closed

[2022-05-06 09:38] #251 closed

[2022-05-09 09:30] Carlos-Trebbau opened #500 "Unsatisfiable requirements detected when installing on brand new Julia1.7 and empty project"
<img width="759" alt="image" src="https://user-images.githubusercontent.com/84703650/167381426-5f17f576-c708-4818-a404-f60369edcee6.png">

And I cannot find anything relevant anywhere else.

Thanks

[2022-05-09 09:33] mkborregaard commented on #500
The name of the package is StatsPlots. "StatPlots" is the old name, and deprecated.

[2022-05-09 09:35] Carlos-Trebbau commented on #500
Oh ok thanks, totally missed that

[2022-05-22 22:03] sethaxen commented on #497
Hi, can you please provide a minimum working example demonstrating the problem?

[2022-06-06 19:26] pszufe opened #501 "Cannot install on Julia-1.8.0-rc1, even on a fresh empty %JULIA_DEPOT_PATH%"
When trying to install (even as the first package to be installed in a fresh repo), I get this error:

[code]

Perhaps some dependency strongly requires Julia not greater than 1.7?

[2022-06-06 20:57] sethaxen commented on #501
The name of this package is StatsPlots, not StatPlots.

[2022-06-06 21:14] pszufe commented on #501
now I feel embarrassed ;)

[2022-06-06 21:14] #501 closed

[2022-06-23 18:36] BioTurboNick commented on #433
While I'm seeing a different error, the example works for me. As it has been over a year and it seems to be resolved, I'll close this.

[2022-06-23 18:36] #433 closed

[2022-06-23 18:40] BioTurboNick opened #502 "`marginalkde!` results in error"
Was hoping to overlay multiple distributions, but got this error instead. Maybe it is intentionally unsupported, but should probably be a better error if so?

[code]

[2022-06-24 02:56] BioTurboNick opened #504 "marginalkde ~100x slower than a scatter plot"
I was hoping to use something like `marginalkde` to better display dense scatterplot data, but it takes 100x as long as a scatter plot to generate.

The slow part is entirely the `pdf` call for each x/y.

Barring performance improvements to `pdf`, is there a way to reduce the resolution so it can be calculated faster?

[2022-06-24 03:25] BioTurboNick commented on #504
[code]
![image](https://user-images.githubusercontent.com/1438610/175454908-5ad6f156-7a7e-4042-b165-dceffa475c10.png)

Looking at npoints:
32x32 (226.594 ms (201146 allocations: 57.29 MiB))
![image](https://user-images.githubusercontent.com/1438610/175455363-f11ae4a0-5c9b-4fc0-9a84-40875555aa94.png)
64x64 (374.709 ms (204848 allocations: 158.35 MiB))
![image](https://user-images.githubusercontent.

[2022-06-24 03:33] BioTurboNick commented on #504
Then again, even 128 in real world data has some issues
![image](https://user-images.githubusercontent.com/1438610/175456776-74af6b58-9ccf-4c17-a95c-c1b636c7bad9.png)

[2022-06-25 02:48] BioTurboNick commented on #504
Trimming the upper and lower 1% of points helped. Maybe that can also be a parameter?

[2022-06-25 04:39] BioTurboNick commented on #504
Waaait a second - the `pdf` function is only being used to select the levels. But the `contour` function can already do that internally. Is there any benefit to this? Quite expensive for just that task.

Contour alone:
![image](https://user-images.githubusercontent.com/1438610/175757974-23f566a6-e892-435f-8dbe-cb9097ae312d.png)

Current implementation:
![image](https://user-images.githubuserconten

[2022-06-25 04:44] BioTurboNick commented on #504
"levels are evenly-spaced in the cumulative probability mass" is what the documentation says. Maybe that's importantly different from what GR does internally. Not sure what the pros and cons would be.

[2022-06-29 23:05] sreedta8 opened #505 "Arpack error when trying to use "using StatsPlots" command in a Jupyter Notebook"
Hi

I'm a new Julia user on an Ubuntu machine with OS version 21.04 with ```julia version-1.7.3```. When using ```Pkg.add("StatsPlots")``` or try ```julia> using StatsPlots``` there are no errors for ```Arpack / Arpack_jll / MultivariateStats / StatsPlots```. When I try ```using StatsPlots``` in a Jupyter notebook, I get the following error(s). Any help to overcome this will be very helpful. I hav

[2022-06-30 15:52] sreedta8 commented on #505
For what it is worth, I created a new project and installed only ```DataFrames.jl, Plots.jl, and StatsPlots.jl``` - I could test basic charts such as a Scatter plot or a Histogram without any problems. All of the ```Arpack``` related errors were gone. So the original error, I have reported above must be the result of clash between requirements of one or more of the additional packages I installed.

[2022-07-09 18:45] #505 closed

[2022-07-09 18:46] #488 closed

[2022-07-18 01:30] alfaromartino opened #509 "x-labels in groupedbars are taken as math expressions"
The issue shows up under pgfplotsx

MWE
[code]

Output is
![plot_45](https://user-images.githubusercontent.com/50346244/179433592-ca8f3c74-c99d-47e2-b771-fa9c7b44e1d6.png)

When you open the file in tex, it show that all the names are expressed within "$ $"

[2022-07-21 12:41] itsdfish commented on #418
I also encountered this problem. Has anyone found a workaround?

[2022-08-23 15:05] sebastiantk commented on #418
I also encountered this. Any updates?

[2022-08-26 16:47] itsdfish opened #514 "Cannot set xlims and ylims in marginalkde"
The example below shows that xylims and ylims do not work with marginalkde.

**MWE**

[code]

**Version**

[code]

[2022-08-26 18:53] itsdfish opened #515 "Cannot group by variable with marginalkde"
**MWE**

[code]

**Error Message**

[code]

**Version**

[code]

[2022-08-26 18:58] itsdfish commented on #514
Here is a workaround:

[code]

[2022-08-26 19:01] itsdfish commented on #514
I just realized that `clip` is used for bounds. My apologies for the noise.

[2022-08-26 19:01] #514 closed

[2022-08-30 21:55] jmtlawrie commented on #437
Hello everyone - I also recently came across this aspect, but I found a [work-around](https://discourse.julialang.org/t/statplots-groupedbar-order-x-axis/13912/18) on Julia's Discourse forum which I thought it would be good to share here.
____
Credit for the workaround goes to  @JonasIsensee (https://github.com/JonasIsensee) (I don't seem to be able to tag them directly).

All I have done is modif

[2022-09-06 12:24] this-josh opened #517 "BoundsError with `errorlines(x, errorstyle=:plume)`"
The `plume` option only seems to work when appended to an existing plot.
This works
[code]

However, just plotting plume gives
[code]

This error doesn't apply to the `ribbon` and `stick` methods.

[2022-09-06 12:36] BeastyBlacksmith commented on #517
CC: @CMGreenspon

[2022-09-06 14:37] CMGreenspon commented on #517
On it. I guess I always ran ribbon first so the plot series already existed. Should be an easy fix.

[2022-09-07 07:09] #517 closed

[2022-09-09 11:38] #462 closed